name: Check NWScript

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  compile-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure compiler is executable
        run: chmod +x ./nwnsc scripts/check_code.sh

      - name: Run NWScript compile check
        run: bash scripts/check_code.sh
